{% extends 'base.html' %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block background %}id="body-register"{% endblock %}

{% block body %}
<div class="container-stages center-h" style="margin-top: 60px;">
    {% if stage == 1 %}
    <span class="step active"></span>
    <span class="step"></span>
    {% else %}
    <span class="step finish"></span>
    <span class="step active"></span>
    {% endif %}
</div>
<div class="container-register center-full">
    <form method="POST" class="form" id="register-form" action="">
        {% csrf_token %}
        <div style="margin-top: 20px; display:flex; flex-direction: column; align-items: center;">
            <img src="{% static 'images/logo.png' %}" style="height:100px;width:100px;" title="Myte">
            <h2 style="color:#212121;">Tu gestor de formulas</h2>
        </div>
        <div class="container-input" style="margin-top:50px; margin-bottom: 5%;">
            <div class="icon-holder">
                <img src="{% static 'images/user_white.png' %}">
            </div>
            <input type="text" id="username" name="username" placeholder="Nombre de usuario" autocomplete="off" class="input" />
        </div>
        <div class="container-input" style="margin-bottom: 5%;">
            <div class="icon-holder">
                <img src="{% static 'images/name_white.png' %}" style="height:14px;">
            </div>
            <input type="text" id="name" name="name" placeholder="Nombre completo" autocomplete="off" class="input" />
        </div>
        <div class="container-input--many" style="margin-bottom:5%; justify-content: space-between;">
            <div class="container-input" style="width:50%;">
                <div class="icon-holder">
                    <img src="{% static 'images/email_white.png' %}" style="height:14px;">
                </div>
                <input type="text" id="email" name="email" placeholder="Enter email" autocomplete="off"
                    class="input--small" style="width:100%;" />
            </div>
            <div class="container-datepicker">
                {{ date_form.date.label }} {{ date_form.date(class='datepicker', class_="datepicker" )}} {{date_form.hidden_tag()}}
            </div>
        </div>
        <div class="container-input" style="margin-bottom: 5%;">
            <div class="icon-holder">
                <img src="{% static 'images/pw_white.png' %}">
            </div>
            <input type="password" id="password1" name="password1" placeholder="Contraseña" autocomplete="new-password"
                class="input" />
        </div>
        <div class="container-input" style="margin-bottom: 5%;">
            <div class="icon-holder">
                <img src="{% static 'images/pw_white.png' %}">
            </div>
            <input type="password" id="password2" name="password2" placeholder="Re ingresar contraseña"
                autocomplete="new-password" class="input" />
        </div>
        <a href="%{ url 'mauth:login' %}" class="redirect" style="margin-top: 30px; align-self: center;">Ya tienes
            una cuenta?</a>
    </form>
</div>
{% endblock %}