{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Register
{% endblock %}

{% block media %}
<!-- Date picker media -->
{{ form.media }}
{% endblock %}


{% block background %}id="register"{% endblock %}

{% block body %}
<div class="container-stages center-h" style="margin-top: 60px;">
    {% if stage == 1 %}
    <span class="step active"></span>
    <span class="step"></span>
    {% else %}
    <span class="step finish"></span>
    <span class="step active"></span>
    {% endif %}
</div>
<div class="container-register center-full">
    <form method="POST" class="form" id="register-form" action="">
        {% csrf_token %}
        <div style="margin-top: 20px; display:flex; flex-direction: column; align-items: center;">
            <img src="{% static 'images/logo.png' %}" style="height:100px;width:100px;" title="Myte">
            <h2 style="color:#212121;">Tu gestor de formulas</h2>
        </div>
        {{ form.non_field_errors }}
        <div class="container-input" style="margin-top:50px; margin-bottom: 5%;">
            <div class="icon-holder">
                <img src="{% static 'images/user_white.png' %}">
            </div>
            {{ form.username|add_class:"input"|attr:"placeholder:Nombre de usuario" }}
        </div>
        <div class="container-input" style="margin-bottom: 5%;">
            <div class="icon-holder">
                <img src="{% static 'images/name_white.png' %}" style="height:14px;">
            </div>
            {{ form.fullname|add_class:"input"|attr:"placeholder:Nombre completo" }}
        </div>
        <div class="container-input--many" style="margin-bottom:5%; justify-content: space-between;">
            <div class="container-input" style="width:50%;">
                <div class="icon-holder">
                    <img src="{% static 'images/email_white.png' %}" style="height:14px;">
                </div>
                {{ form.email|add_class:"input--small"|attr:"placeholder:Ingresar email"|attr:"style:width:100%;" }}
            </div>
            <div class="container-datepicker">
                {{ form.birthdate.label_tag }}
                {{ form.birthdate|add_class:"datepicker" }}
            </div>
        </div>
        <div class="container-input" style="margin-bottom: 5%;">
            <div class="icon-holder">
                <img src="{% static 'images/pw_white.png' %}">
            </div>
            {{ form.pw1|add_class:"input"|attr:"placeholder:Contraseña" }}
        </div>
        <div class="container-input" style="margin-bottom: 5%;">
            <div class="icon-holder">
                <img src="{% static 'images/pw_white.png' %}">
            </div>
            {{ form.pw2|add_class:"input"|attr:"placeholder:Re ingresar contraseña" }}
        </div>
        <div class="container-input" style="width: 30%">
            <button class="btn-submit--orange" id="next-btn" style="width: 100%;">Siguiente</button>
        </div>
    </form>
    <a href="%{ url 'mauth:login' %}" class="redirect" style="margin-top: 30px; align-self: center;">¿Ya tienes una cuenta?</a>
</div>
{% endblock %}



