<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/gen/style.css" />
    {% assets "scss_all" %}
    <title>{% block title %} Myte {% endblock %}</title>
    {% endassets %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    {% block body %}
    <div class="side-bar">
        <div class="side-bar--info">
            <h2>Myte</h2>
            <h3>vBeta</h3>
            <div></div> 
        </div>
        <div class="side-bar--item">
            <img src="{{ url_for('static', filename='images/premium.png') }}">
            <a href="#" style="margin-left: 20px;"><strong>Premium</strong></a>
        </div>
        <div class="side-bar--item">
            <img src="{{ url_for('static', filename='images/git.png') }}">
            <a 
                href="https://github.com/VashLT/Myte" 
                title="Myte source code" 
                style="margin-left: 20px;"
                target="_blank"
            ><strong>Repositorio</strong></a>
        </div>
    </div>
    <nav class="nav-bar">
        <div class="container-hamburger">
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" title="Myte">
        </div>
        <div class="nav-bar--item">
            <div>
                <a href="{{ url_for('auth.login') }}">Log in</a>
                <a href="#">About us</a>
                <a href="#">Other</a>
            </div>
        </div>
    </nav>
    <div name="base" class="container-base">
        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}

    <script type=text/javascript src="{{
                  url_for('static', filename='js/main.js') }}"></script>

</body>

</html>