{% extends 'myte/base.html' %}

{% block title %}Home{% endblock %}

{% block background %}id="body-home"{% endblock %}

{% block body %}
<div class="container-view--editar">
    <div class="container-editar--left">
        <div class="container-edit-formula">
            <form method="POST" id="hidden-form"></form>
            <div class="preview-box" style="height: 50%;">
                <div class="preview-box--header">
                    <h3 id="formula-view">{{ formula.nombre }}</h3>
                </div>
                <div class="preview-box--content">
                    <p style="color: rgb(230, 229, 229);">$$ {{ formula.get_latex() }} $$</p>
                </div>
            </div>
            <div class="edit-formula" style="margin-top: 0;">
                <p style="color: rgb(228, 228, 228);">Escribe el codigo en LaTeX:</p>
                <textarea class="edit-latex" id="ilatex" name="latex" cols="50" rows="10" placeholder="formula ..."
                    style="margin-bottom: 20px; align-self: center;">{% if formula["codigo_latex"] %}{{ formula.codigo_latex }}{% endif %}</textarea>
            </div>
            <div class="container-input--many" style="margin-top:10px; justify-content:space-between;">
                <div class="container-input" id="render-parent" style="width: 30%; margin-left: 15%">
                    <button class="btn-submit--green" id="edit-render" name="render" style="width: 100%;">Renderizar</button>
                </div>
                <div class="container-input" id="latex-parent" style="width: 30%; margin-right: 15%;">
                    <button class="btn-submit" id="save-latex" name="save_latex" style="width: 100%;">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-editar--right">
        <div class="container-script" style="height: 50%;">
            <form method="POST" class="form" id="add-form" action="" style="width: 80%; margin-bottom: 30px;">
                <div class="container-input" style="flex-direction: column; margin-top: 30px;">
                    <h2>Editar script<h2/>
                    <textarea class="edit-script" id="iscript" name="script" cols="50" rows="10"
                        style="margin-bottom: 30px;">{{ formula.script.contenido }}</textarea>
                </div>
                <div class="container-input" style="flex-direction: column;">
                    <p style="font-size: 20px;">Ingresa las variables (deben estár separadas por ,)</p>
                    <input type="text" id="ivars" name="variables" value="{{ formula.script.variables_script }}" autocomplete="off"
                        class="input" />
                </div>
            </form>
            <div class="container-input" id="submit-parent" style="width: 30%; margin-bottom: 30px;">
                <button class="btn-submit" id="save-script" name="save_script" style="width: 100%;">Guardar</button>
            </div>
        </div>
        {% if not images %}
        <div class="container-edit-images">
            <h3>No hay imagenes</h3>
            <div class="container-input" id="submit-parent" style="width: 30%; margin-bottom: 30px;">
                <button class="btn-submit--green" id="add-image" name="add_image" style="width: 100%;">Agregar</button>
            </div>
        </div>
        {% else %}
        <div class="container-images" style="height: 30%;">
            {% for image in images %}
            <div class="image-item" id="{{ loop.index }}">
                <div class="image-header">
                    <h3>{{ image["nombre"] }}</h3>
                </div>
                <div class="image-content">
                    <img src="{{ url_for('static', filename=image['path']) }}" />
                </div>
            </div>
            <div class="modal-image" id="im{{ loop.index }}">
                <img src="{{ url_for('static', filename=image['path']) }}" />
            </div>
            {% endfor %}
            <div class="overlay"></div>
        </div>
        {% endif %}
    </div>
    <div class="float-return">
        <button class="btn-submit--orange" id="return-home" name="return_home" style="width: 100%; height: 100%;">Pagina
            principal</button>
    </div>
</div>
<script>
    var $render = $("#edit-render");
    var $saveLatex = $("#save-latex");
    var $form = $("#hidden-form");
    $render.click(function(){
        var $latex = $("#ilatex").val();
        $form.append('<input type="hidden" name="render" />');
        $form.append('<input type="hidden" name="latex" value="'+ $latex + '"/>');
        $form.submit();
    });
    $saveLatex.click(function(){
        var $latex = $("#ilatex").val();
        $form.append('<input type="hidden" name="save_latex" value="' + $latex + '"/>');
        $form.submit();
    });
    $("#add-image").click(function(){
        $form.append('<input type="hidden" name="add_image" />');
        $form.submit();
    });
    $("#save-script").click(function(){
        var $script_content = $("#iscript");
        var $script_vars = $("#ivars");
        $form.append('<input type="hidden" name="save_script" />');
        $form.append('<input type="hidden" name="script_contenido" value="' + $script_content + '"/>');
        $form.append('<input type="hidden" name="script_variables" value="' + $script_vars + '"/>');
        $form.submit();
    })
</script>

{% endblock %}