{% extends 'myte/base.html' %}
{% block title %} Myte home {% endblock %}

{% block content %}
    <div class="container-home">
        <div class="home-content--definition">
            <div class="text-holder">   
                <h1>
                    <strong>El lugar en donde puedes manejar tus formulas</strong>
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="img-holder">
                <p>Image</p>
            </div>
        </div>
    </div>
{% endblock %}