{% extends 'myte/base.html' %}

{% block title %}Home{% endblock %}

{% block background %}id="body-home"{% endblock %}

{% block nav %}
<nav class="nav-bar--home">
<div class="nav-bar--item left" style="width: 20%; justify-content: center;">
    <div class="show-user">
        <p>$$\text{ {{ user.nombre_usuario.capitalize() }} }$$</p>
    </div>
</div>
<div class="nav-bar--item right">
    <a href="#" class="btn-link">Detalles</a>
    <a href="#" class="btn-link">Mejorar</a>
    <a href="{{ url_for('auth.logout') }}" id="logout" class="btn-link">Salir</a>
</div>
</nav>
{% endblock %}

{% block side_bar %}
<div class="side-bar--home">
    <div class="side-bar--info">
        <h2>Myte</h2>
        <h3>vBeta</h3>
        <div></div>
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='images/premium.png') }}">
        <a href="{{ url_for('views.add_formula') }}" style="margin-left: 20px;"><strong>Agregar formula</strong></a>
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='images/premium.png') }}">
        <a href="{{ url_for('views.delete_formula') }}" style="margin-left: 20px;"><strong>Eliminar formula</strong></a>
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='images/premium.png') }}">
        <a href="{{ url_for('views.formulas') }}" title="Myte source code" style="margin-left: 20px;"
            target="_blank"><strong>Mis formulas</strong></a>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="center-full">
    <p>$$e^{i\cdot \pi} = -1$$</p>
</div>
<div class="expand-bar">
    <h2> > </h2>
</div>
<div class="expand-bar" style="left: auto; right: 6%;">
    <h2> + </h2>
</div>
{% endblock %}