{% extends 'myte/base.html' %}

{% block title %}Imagenes{% endblock %}

{% block background %} id="body-add_formula" {% endblock %}

{% block body %}
<div class="container-view--images center-h">
    <h1>{{ formula.nombre }}</h1>
    <div class="render-box--small" style="margin:0; margin-bottom: 20px;">
        <div class="render-box--small--content">
            <p>$$ {{ formula.codigo_latex }} $$</p>
        </div>
    </div>
    <div class="container-images">
        {% for image in images %}
        <div class="image-item" id="{{ loop.index }}">
            <div class="image-header">
                <h3>{{ image["nombre"] }}</h3>
            </div>
            <div class="image-content">
                <img src="{{ url_for('static', filename=image['path']) }}"/>
            </div>
        </div>
        <div class="modal-image" id="im{{ loop.index }}">
            <img src="{{ url_for('static', filename=image['path']) }}" />
        </div>
        {% endfor %}
        <div class="overlay"></div>
    </div>
    <div class="float-return">
        <button class="btn-submit--orange" id="return-home" name="return_home" style="width: 100%; height: 100%;">Pagina
            principal</button>
    </div>
<form method="POST" id="redirect-form"></form>
{% endblock %}