{% extends 'myte/base.html' %}
{% block title %} Myte home {% endblock %}

{% block content %}
    <div class="container-home">
        <div class="home-content--definition">
            <div class="text-holder">   
                <h1>
                    <strong>El lugar en donde puedes manejar tus formulas</strong>
                </h1>
                <p>
                    Myte es un proyecto que tiene como propósito ofrecer un gestionador de fórmulas matemáticas de todo tipo y pertenecientes a distintas áreas como Matemática, Física, Química, entre otros.
                </p>
            </div>
            <div class="img-holder">
                <img 
            src="{{ url_for('static', filename='images/myte_intro.png') }}" 
            title="Myte">
            </div>
        </div>
    </div>
{% endblock %}