@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\000038}}
.container-base {
  display: flex;
  flex-direction: column;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: center; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\0000319}}
  .container-home {
    margin-top: 150px;
    font-family: "Segoe UI", Georgia, Serif;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center; }

    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\0000330}}
    .container-login {
      display: flex;
      flex-direction: column;
      height: 600px;
      width: 700px;
      border: none;
      background-color: #1a1c23;
      border-radius: 5px;
      align-items: center; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\0000340}}
      .container-login:hover {
        box-shadow: 0 4px 8px 0 #131313, 0 6px 20px 0 #151414; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\0000346}}
.container-register {
  display: flex;
  flex-direction: column;
  height: 750px;
  width: 600px;
  border: none;
  align-items: center;
  background-color: #fff;
  border-radius: 5px; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\0000358}}
  .container-register:hover {
    box-shadow: 0 4px 8px 0 #e0dede, 0 6px 20px 0 #dbdada; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\0000364}}
.container-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\0000371}}
  .container-input--many {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    max-height: 40px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\0000381}}
    .container-datepicker {
      display: flex;
      flex-direction: row;
      width: 45%; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\0000384}}
      .container-datepicker label {
        align-self: center;
        color: #707070;
        font-size: 15px;
        margin-right: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\0000393}}
.container-hamburger {
  width: 16%;
  margin-left: 15px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\0000398}}
  .container-flash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    overflow: auto; }

    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\00003110}}
    .container-tag {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 80%; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\00003117}}
      .container-tag a {
        color: #67a5a7;
        font-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\00003124}}
.container-stages {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-evenly; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\00003132}}
  .form-register {
    border: none;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\00003142}}
    .form-register a {
      color: #67a5a7;
      font-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\containers\.scss}line{font-family:\00003149}}
.form-register--extra {
  width: 100%;
  height: 40%;
  background-color: #ffffff; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\000039}}
  @media screen and (max-width: 1400px) {
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\000039}}
    .logo {
      width: 15%;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000313}}
      .container-hamburger {
        width: 15%;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000317}}
        .nav-bar--item {
          right: 0;
          width: 70%;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000322}}
          .container-home {
            max-width: 85%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000329}}
@media screen and (max-width: 960px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000329}}
  .container-hamburger {
    width: 10%;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000332}}
    .container-home {
      max-width: 95%;
      width: 95%;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000336}}
      .text-holder {
        width: 45%;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000339}}
        .img-holder {
          width: 45px;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000342}}
          .logo {
            width: 10%;
            margin-left: 50px;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000346}}
            .nav-bar--item {
              width: 90%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000352}}
@media screen and (max-width: 768px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000352}}
  .container-home {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 98%;
    width: 98%;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000358}}
    .home-content--definition {
      flex-direction: column;
      margin-left: 0px;
      margin-right: 0px;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000363}}
      .text-holder {
        width: 95%;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000366}}
        .img-holder {
          width: 95%;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000369}}
          .nav-bar--item {
            display: none;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\resize\.scss}line{font-family:\0000372}}
            .logo {
              margin-right: 20px;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000313}}
.home-content--definition {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000318}}
  .home-content--definition img {
    height: 400px;
    width: 400px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000325}}
.input, .input--small {
  font-family: "Segoe UI", Georgia, Serif;
  z-index: 1;
  text-indent: 10px;
  width: 100%;
  padding: 0;
  height: 40px;
  border: 1px solid #a2a2a2;
  border-radius: 0 5px 5px 0; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000333}}
  .input:focus, :focus.input--small {
    box-shadow: #7bd3ee 0px 0px 0px 1px;
    outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000339}}
input.invalid {
  background-color: #ffdddd; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000343}}
  .input--small {
    width: 40%;
    margin: 0; }

    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000349}}
    .redirect {
      color: #67a5a7;
      font-size: 15px; }

      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000354}}
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 80%; }
        @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000361}}
        .form a {
          color: #67a5a7;
          font-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000369}}
.datepicker {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #a2a2a2;
  height: 30px;
  align-items: center;
  width: 70%; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000378}}
  .icon-holder {
    display: flex;
    flex-direction: row;
    background-color: #383E56;
    border-radius: 5px 0 0 5px;
    margin: 0;
    width: 52px;
    height: 42px;
    max-height: 100%;
    align-items: flex-start;
    justify-self: flex-start;
    justify-content: center; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\0000389}}
    .icon-holder img {
      align-self: center;
      justify-self: center;
      z-index: 2;
      width: 17px;
      height: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003100}}
.btn-submit, .btn-submit--orange {
  border: none;
  background-color: #3981c4;
  margin-right: 0;
  width: 40%;
  height: 40px;
  font-size: 25px;
  border-radius: 5px;
  color: #f2f2f2; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003108}}
  .btn-submit:hover, :hover.btn-submit--orange {
    background-color: #3576b3;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003115}}
.btn-submit--orange {
  background-color: #f69e7b; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003117}}
  .btn-submit--orange:hover {
    background-color: #c57e63;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003125}}
.side-bar {
  top: 0;
  left: 0;
  position: absolute;
  width: 300px;
  height: 1000px;
  background-color: #353535;
  z-index: 2;
  display: none; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003133}}
  .side-bar--info {
    display: flex;
    flex-direction: column;
    padding-left: 10px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003136}}
    .side-bar--info h2 {
      margin-bottom: 5px;
      font-size: 30px;
      color: #d8d7d7; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003141}}
      .side-bar--info h3 {
        margin-top: 5px;
        font-size: 16px;
        color: #d8d7d7; }
        @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003146}}
        .side-bar--info div {
          align-self: center;
          margin-left: -10px;
          margin-top: 2px;
          width: 98%;
          height: 1px;
          background-color: #a5a5a5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003159}}
.side-bar--item {
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-left: 0px;
  border-radius: 3px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003169}}
  .side-bar--item a {
    margin-top: 4px;
    margin-left: 10px;
    font-size: 20px;
    color: #f3f3f3;
    text-decoration: none; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003176}}
    .side-bar--item img {
      padding-left: 10px;
      width: 20px;
      height: 20px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003181}}
      .side-bar--item:hover {
        background-color: #464646;
        cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003188}}
.nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100px;
  border-radius: 0px 0px 3px 3px;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  z-index: 1; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003203}}
  .nav-bar--item {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 30%;
    margin-right: 10px;
    align-items: center;
    justify-content: flex-end; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003216}}
.item-btns__home {
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 10px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003230}}
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    width: 24%;
    height: 100%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003236}}
    .logo img {
      width: 70px;
      height: 70px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003243}}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 20px;
  align-items: center;
  justify-content: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003253}}
  .hamburger div {
    background-color: #d8d7d7;
    width: 25px;
    height: 4px;
    margin-bottom: 3px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003259}}
    .hamburger:hover {
      background-color: #353535;
      cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003266}}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #aaa9a9;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003277}}
  .step.active {
    opacity: 1; }

    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003281}}
    .step.finish {
      background-color: #a4f39d; }

      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003285}}
      .btn-link {
        border-radius: 5px;
        color: #d8d7d7;
        width: 33%;
        height: 100%;
        font-size: 25px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003294}}
        .btn-link:hover {
          background-color: #c57e63; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003300}}
.step.active {
  opacity: 1; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003304}}
  .step.finish {
    background-color: #4caf50; }

    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003308}}
    .tab {
      display: none; }

      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003312}}
      .text-holder {
        margin-left: 10px;
        width: 40%;
        height: 100%;
        align-items: center;
        justify-content: center; }
        @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003317}}
        .text-holder h1 {
          font-size: 60px;
          color: #010101;
          text-align: start; }
          @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003322}}
          .text-holder p {
            font-weight: 300;
            font-size: 18px;
            color: #010101;
            text-align: justify;
            font-family: Tahoma, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003332}}
.img-holder {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 40%;
  margin-right: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #9d9c9c; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003345}}
  .flash-box, .flash-box--error, .flash-box--info {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    justify-items: center;
    align-content: space-between;
    background-color: #9eff95; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003351}}
    .flash-box span, .flash-box--error span, .flash-box--info span {
      color: #010101;
      margin-right: auto; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003356}}
      .flash-box p, .flash-box--error p, .flash-box--info p {
        margin-left: 10px;
        font-size: 20px;
        color: #72bb6c; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003363}}
.flash-box--error {
  background-color: #fa9999; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003366}}
  .flash-box--error p {
    margin-left: 10px;
    font-size: 20px;
    color: #a04949; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003373}}
.flash-box--info {
  background-color: #accdff; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003376}}
  .flash-box--info p {
    margin-left: 10px;
    font-size: 20px;
    color: #8099be; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003384}}
.header {
  font-size: 30px;
  text-align: center;
  margin-top: 10px; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003387}}
  .header--underlined {
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 100%; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003393}}
    .header--underlined h1 {
      font-size: 35px;
      color: #c57e63;
      margin-top: 20px;
      margin-bottom: 2px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003399}}
      .header--underlined div {
        margin-top: 0;
        width: 80%;
        height: 1px horizontal bar width;
        background-color: #48506e; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003410}}
.center-h {
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0); }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003418}}
  .center-v {
    margin: 0;
    position: absolute;
    top: 50%;
    margin-right: -50%;
    transform: translate(0, -50%); }

    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\rules\.scss}line{font-family:\00003426}}
    .center-full {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\other\.scss}line{font-family:\0000315}}
      .show-user {
        max-height: 100%;
        align-content: center; }
        @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\other\.scss}line{font-family:\0000317}}
        .show-user p {
          text-align: center;
          margin: auto;
          font-size: 25px;
          font-family: Apple Chancery, cursive;
          color: #85c77f; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\other\.scss}line{font-family:\0000327}}
.left {
  margin-right: auto; }

  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\other\.scss}line{font-family:\0000330}}
  .right {
    margin-left: auto; }

    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\style\.scss}line{font-family:\0000316}}
    html, body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
      font-family: Gadget, sans-serif; }

      @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\style\.scss}line{font-family:\0000325}}
      #body-home {
        background-color: #d8d7d7; }

        @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\style\.scss}line{font-family:\0000328}}
        #body-login {
          background-color: #212121; }

          @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\style\.scss}line{font-family:\0000331}}
          #body-register {
            background-color: #eedad1; }

            @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\scss\\style\.scss}line{font-family:\0000334}}
            #email-register {
              margin-left: 10px;
              align-self: flex-start; }
