@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\0000338}}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Gadget, sans-serif; }

  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\0000346}}
  #body-home {
    background-color: #d8d7d7; }

    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\0000347}}
    #body-login {
      background-color: #212121; }

      @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\0000349}}
      .container-base {
        display: flex;
        flex-direction: column;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        justify-content: center; }

        @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\0000366}}
        .header {
          font-size: 30px;
          text-align: center;
          margin-top: 10px; }
          @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\0000370}}
          .header--underlined {
            padding-bottom: 3px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none;
            width: 100%; }
            @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\0000377}}
            .header--underlined h1 {
              font-size: 35px;
              color: #c57e63;
              margin-top: 20px;
              margin-bottom: 2px; }
              @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\0000383}}
              .header--underlined div {
                margin-top: 0;
                width: 80%;
                height: 1px;
                background-color: #48506e; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\0000394}}
.container-home {
  margin-top: 150px;
  font-family: "Segoe UI", Georgia, Serif;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  align-items: center; }

  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003109}}
  .home-content--definition {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003117}}
    .home-content--definition img {
      height: 400px;
      width: 400px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003124}}
.container-login {
  height: 500px;
  width: 600px;
  border: none;
  overflow: auto;
  background-color: #383E56;
  border-radius: 5px; }
  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003131}}
  .container-login:hover {
    box-shadow: 2px 2px 2px 2px #2d2d2d; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003137}}
.container-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5%;
  justify-content: center;
  justify-items: flex-start;
  align-items: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003145}}
  .container-input img {
    z-index: 2;
    margin-right: -35px;
    margin-left: 10px;
    background-repeat: no-repeat;
    width: 16px;
    height: 20px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003154}}
    .container-input input[type="text"], .container-input input[type="password"] {
      z-index: 1;
      text-indent: 35px;
      margin-left: 10px;
      width: 80%;
      height: 40px;
      border: 1px solid #8a8a8a;
      border-radius: 5px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003161}}
      .container-input input[type="text"]:focus,
      .container-input input[type="password"]:focus {
        outline: none;
        border: 2px solid #7bd3ee; }
  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003167}}
  .container-input input[type="submit"] {
    border: none;
    background-color: #3981c4;
    margin-right: 0;
    width: 40%;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    color: #f2f2f2; }
    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003175}}
    .container-input input[type="submit"]:hover {
      background-color: #3576b3;
      cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003185}}
.container-hamburger {
  width: 16%;
  margin-left: 15px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003190}}
  .side-bar {
    top: 0;
    left: 0;
    position: absolute;
    width: 300px;
    height: 1000px;
    background-color: #353535;
    z-index: 2;
    display: none; }
    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003199}}
    .side-bar--info {
      display: flex;
      flex-direction: column;
      padding-left: 10px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003202}}
      .side-bar--info h2 {
        margin-bottom: 5px;
        font-size: 30px;
        color: #d8d7d7; }
        @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003207}}
        .side-bar--info h3 {
          margin-top: 5px;
          font-size: 16px;
          color: #d8d7d7; }
          @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003212}}
          .side-bar--info div {
            align-self: center;
            margin-left: -10px;
            margin-top: 2px;
            width: 98%;
            height: 1px;
            background-color: #a5a5a5; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003226}}
.side-bar--item {
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-left: 0px;
  border-radius: 3px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003240}}
  .side-bar--item a {
    margin-top: 4px;
    margin-left: 10px;
    font-size: 20px;
    color: #f3f3f3;
    text-decoration: none; }
    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003247}}
    .side-bar--item img {
      padding-left: 10px;
      width: 20px;
      height: 20px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003252}}
      .side-bar--item:hover {
        background-color: #464646;
        cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003259}}
.nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100px;
  border-radius: 0px 0px 3px 3px;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  z-index: 1; }
  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003278}}
  .nav-bar--item {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 60%;
    margin-right: 10px;
    align-items: center;
    justify-content: flex-end; }
    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003288}}
    .nav-bar--item div {
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003297}}
      .nav-bar--item div a {
        border-radius: 5px;
        color: #d8d7d7;
        width: 33%;
        height: 100%;
        font-size: 25px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003309}}
        .nav-bar--item div a:hover {
          background-color: #c57e63; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003321}}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 24%;
  height: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003327}}
  .logo img {
    width: 70px;
    height: 70px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003334}}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003339}}
  .form a {
    color: #67a5a7;
    font-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003346}}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 20px;
  align-items: center;
  justify-content: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003360}}
  .hamburger div {
    background-color: #d8d7d7;
    width: 25px;
    height: 4px;
    margin-bottom: 3px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003367}}
    .hamburger:hover {
      background-color: #353535;
      cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003374}}
.text-holder {
  margin-left: 10px;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center; }
  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003381}}
  .text-holder h1 {
    font-size: 60px;
    color: #010101;
    text-align: start; }
    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003386}}
    .text-holder p {
      font-weight: 300;
      font-size: 18px;
      color: #010101;
      text-align: justify;
      font-family: Tahoma, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003396}}
.img-holder {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 40%;
  margin-right: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #9d9c9c; }

  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003414}}
  .center-h {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0); }

    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003421}}
    .center-v {
      margin: 0;
      position: absolute;
      top: 50%;
      margin-right: -50%;
      transform: translate(0, -50%); }

      @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003428}}
      .center-full {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

        @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003437}}
        @media screen and (max-width: 1400px) {
          @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003437}}
          .logo {
            width: 15%;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003440}}
            .container-hamburger {
              width: 15%;   }
              @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003443}}
              .nav-bar--item {
                right: 0;
                width: 70%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003449}}
.container-home {
  max-width: 85%; }

  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003453}}
  @media screen and (max-width: 960px) {
    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003453}}
    .container-hamburger {
      width: 10%;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003454}}
      .container-home {
        max-width: 95%;
        width: 95%;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003458}}
        .text-holder {
          width: 45%;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003459}}
          .img-holder {
            width: 45;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003460}}
            .logo {
              width: 10%;
              margin-left: 50px;   }
              @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003461}}
              .nav-bar--item {
                width: 90%;   }
                @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003462}}
                .nav-bar--item div {
                  width: 80%;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003469}}
@media screen and (max-width: 768px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003469}}
  .container-home {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 98%;
    width: 98%;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003475}}
    .home-content--definition {
      flex-direction: column;
      margin-left: 0px;
      margin-right: 0px;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003480}}
      .text-holder {
        width: 95%;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003483}}
        .img-holder {
          width: 95%;   }
          @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003486}}
          .nav-bar--item {
            display: none;   }
            @media -sass-debug-info{filename{font-family:file\:\/\/c\:\\Users\\jose2\\Programming\\Python\\FLASK\\myte\\app\\static\\sass\\style\.sass}line{font-family:\00003487}}
            .logo {
              margin-right: 20px;   }
}
