@import "./constants";
$mauth-form-width: 600px;

// using c as short abreviation of 'container'

.c {
  display: flex;
  flex-direction: column;
  z-index: 0;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: $btn-radius;

  &-add_script {
    @extend .c-form;

    height: 650px;
    width: 600px;
    transition: 300ms ease-in-out;
  }

  &-add-view {
    @extend .c;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
  }

  &.row {
    @extend .c;
    flex-direction: row;
  }

  &-base {
    @extend .c;
    width: 100%;
  }

  &-category {
    @extend .c;
    width: 100%;
    height: auto;

    &--header {
      display: block;
      width: 100%;
      margin-left: 20px;

      & h1 {
        font-size: 30px;
        font-weight: 600;
        margin: 0px;
        color: $myte-blue;
      }

      & div {
        margin-top: 2px;
        width: 98%;
        height: 2px;
        background-color: $myte-orange;
      }
    }

    &--formulas {
      @extend .c;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
    }
  }

  &-editar {
    @extend .c;

    &--left,
    &--right {
      width: 50%;
      height: auto;
    }
  }

  &-edit-formula {
    @extend .c;

    flex-direction: row;

    width: 100%;
    height: 100%;

    background-color: $blue-dark_b;
    margin: 0;
    justify-content: flex-start;

    &:hover {
      box-shadow: 0 4px 8px 0 #c2c1c1, 0 6px 20px 0 #c2c1c1;
    }
  }

  &-edit-images {
    @extend .c-images;
    flex-direction: column;

    & h3 {
      font-size: 40px;
      color: rgb(96, 98, 102);
    }
  }

  &-form {
    @extend .c-register;
    padding-bottom: 20px;

    &:hover {
      box-shadow: 0 2px 3px 0 #c0c0c0, 0 3px 3px 0 #c0bfbf;
    }
  }

  &-home {
    @extend .c;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100% - $home-margin-content;
    font-family: $font-home;
    margin-top: 100px;
  }

  &-input {
    @extend .c;
    flex-direction: row;
    width: 100%;
    padding: 0;

    & h2 {
      text-align: center;
      font-size: 25px;
      margin: 0;
      margin-bottom: 20px;
      color: $myte-blue;
    }

    & p {
      align-self: flex-start;
      font-size: 20px;
      color: rgb(29, 29, 29);
      font-weight: 500;
    }

    &.many {
      @extend .c-input;
      justify-content: flex-start;
      max-width: 100%;
      max-height: 40px;
    }
  }

  &-input.column {
    @extend .c-input;
    flex-direction: column;
  }

  &-images {
    @extend .c;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    height: auto;
  }

  &-image {
    @extend .c;
    width: 33%;
    height: auto;
    max-height: 60%;
    background-color: red;

    & div.header {
      @extend .c-image;
      width: 100%;
      height: 20%;

      & h3 {
        font-size: 20px;
      }
    }

    & div.content {
      @extend .c-image;
      width: 80%;
      height: auto;
      max-height: 80%;

      & img {
        border-radius: $btn-radius;
        width: 100%;
        height: auto;

        &:hover {
          cursor: pointer;
          box-shadow: 0 2px 5px 0 #c0c0c0, 0 3px 5px 0px #c0bfbf;
        }
      }
    }

    &-holder {
      @extend .c;
      height: auto;
      width: 40%;
      margin-right: 20px;
      border-radius: 5px;

      & img {
        height: auto;
        width: 100%;
        min-width: 100%;
        border-radius: $btn-radius;

        &:hover {
          cursor: pointer;
          box-shadow: 0 2px 5px 0 #c0c0c0, 0 3px 5px 0px #c0bfbf;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-look {
    border-radius: $btn-radius;
    transition: all 0.5s linear;

    &:hover {
      box-shadow: 0 4px 8px 0 #e0dede, 0 6px 20px 0 #dbdada;
    }
  }

  &-login {
    @extend .c;
    width: $mauth-form-width;
    height: $mauth-form-width * 0.9;
    background-color: $blue-dark_b;
    justify-content: flex-start;

    &-redirect {
      @extend .c;
      flex-direction: row;

      width: 100%;

      justify-content: flex-start;
      align-items: flex-start;

      & a {
        margin-left: 52px;
        color: rgb(58, 65, 66);
        font-size: 15px;

        &:hover {
          color: rgb(100, 112, 114);
        }
      }
    }

    &:hover {
      box-shadow: 0 4px 8px 0 #131313, 0 6px 20px 0 #151414;
    }
  }

  &-main {
    @extend .c;
    width: 100%;
    height: 100%;
    margin: 0;

    &--formulas {
      @extend .c-main;
      align-items: flex-start;
      padding: 20px auto 40px 10px;
    }

    &-images {
      @extend .c-main;

      align-items: center;
      justify-content: flex-start;

      & h1 {
        font-size: 30px;
      }
    }

    &--editar {
      @extend .c-main;
      flex-direction: row;
    }
  }

  &-register {
    @extend .c;

    width: $mauth-form-width;
    height: $mauth-form-width * 1.25;
    background-color: #fff;
    transition: all 0.5s linear;
    justify-content: flex-start;

    &:hover {
      box-shadow: 0 4px 8px 0 #e0dede, 0 6px 20px 0 #dbdada;
    }
  }

  &-premium {
    @extend .c-register;
    height: 600px;
  }

  &-category {
    @extend .c;
    width: 100%;
    height: auto;

    &--header {
      display: block;
      width: 100%;
      margin-left: 20px;

      & h1 {
        font-size: 30px;
        font-weight: 600;
        margin: 0px;
        color: $myte-blue;
      }

      & div {
        margin-top: 2px;
        width: 98%;
        height: 2px;
        background-color: $myte-orange;
      }
    }

    &--formulas {
      @extend .c;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
    }
  }

  &-datepicker {
    @extend .c;
    width: 45%;
    flex-direction: row;

    & label {
      align-self: center;
      color: #707070;
      font-size: 12px;
      width: 30%;
      margin-right: 10px;
    }
  }

  &-hamburger {
    @extend .c;
    align-items: flex-start;
    width: 15%;
    margin-left: 15px;
  }

  &-flash {
    @extend .c;

    position: absolute;
    top: 0;
    margin-top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    flex-direction: row;
    overflow: auto;
    z-index: 4;
  }

  &-search {
    @extend .c;
    max-height: 100%;
    align-content: center;

    & p {
      margin: 0;
      top: 50%;
      font-size: 25px;
      color: goldenrod;
    }
  }

  &-tags {
    @extend .c;
    position: absolute;
    z-index: 3;

    width: auto;
    height: 50px;

    overflow: hidden;

    flex-direction: row;
    flex-wrap: wrap;

    padding: auto 5px;

    margin: 0px;
    bottom: 0;
    right: 0;

    justify-content: space-evenly;
    align-items: flex-end;

    & div {
      @extend .c;
      z-index: 3;
      flex-direction: row;
      padding: 2px;
      margin-bottom: 5px;
      background-color: $tag-color;

      width: auto;
      height: 20px;

      & p {
        color: $tag-item-color;
        text-align: center;
        font-size: 10px;
      }
    }
  }

  &-formulas {
    @extend .c;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 20px 10px;

    left: 0;
    right: 0;
    top: 0;

    width: 100%;
    height: auto;

    overflow-x: hidden;

    justify-content: flex-start;
    align-items: flex-start;
  }

  &-formula {
    @extend .c;
    margin-bottom: 20px;
    margin-right: 20px;

    background-color: whitesmoke;

    width: 250px;
    max-width: 250px;
    height: 230px;

    & div.header {
      @extend .c;

      margin: 0;
      padding: 0;
      position: relative;
      z-index: 4;
      width: 100%;

      top: 0;
      left: 0;

      border-radius: $btn-radius $btn-radius 0px 0px;

      height: 20%;
      background-color: $gray-dark;

      & h2 {
        font-size: 20px;
        text-align: center;
        color: $bg-color;
      }
    }

    & div.content {
      @extend .c;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 4;
      width: 100%;
      overflow: hidden;
      height: 80%;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 4px 0 #c0c0c0, 0 3px 8px 0 #c0bfbf;
    }
  }

  &-select {
    @extend .c;
    width: 100%;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;

    & p {
      color: rgb(29, 29, 29);
      font-size: 15px;
      top: 50%;
    }
  }

  &-stages {
    @extend .c;
    flex-direction: row;
    margin-bottom: 10px;
    height: 30px;
    width: auto;
    justify-content: space-evenly;
  }

  &-script {
    @extend .c;

    justify-content: flex-start;

    margin: 0;
    width: 600px;
    height: auto;
    background-color: #fff;

    & h3 {
      font-size: 20px;
      color: rgb(28, 29, 46);
      margin-bottom: 20px;
    }

    &:hover {
      box-shadow: 0 1px 3px 0 #e0dede, 0 1px 3px 0 #dbdada;
    }
  }

  &-trident {
    @extend .c;

    margin: 0;
    padding: 0;

    width: 33.3%;
    height: 100%;
  }

  &-user {
    @extend .c;
    max-height: 100%;
    align-content: center;
    width: 60%;

    & p {
      margin: 0;
      margin-top: 10%;
      top: 50%;
      font-size: 30px;
      color: rgb(23, 23, 44);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.aug {
  @extend .c;
  flex-direction: row;
  flex-wrap: wrap;

  &-formula {
    width: 100%;
    max-width: 100%;
    height: 60%;
    background-color: whitesmoke;
    margin-bottom: 10px;
    @extend .c-formula;

    & p {
      font-size: 2vw;
    }
  }

  &-options {
    @extend .aug;
    justify-content: space-evenly;
  }

  &-header {
    position: absolute;
    background-color: rgb(71, 109, 121);
    height: 10%;
    top: 0;
    left: 0;
    width: 100%;

    & h1 {
      text-align: center;
      font-size: 30px;
      color: $bg-color;
    }
  }

  &-tags {
    overflow: hidden;
    align-items: flex-start;

    height: 10%;
    padding: auto 10px;

    & div {
      @extend .c;
      flex-direction: row;

      padding: 2px;
      margin-bottom: 5px;
      background-color: $tag-color;

      width: auto;
      height: 32px;

      & p {
        color: $tag-item-color;
        text-align: center;
        font-size: 20px;
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

// .form-register {
//   border: none;
//   overflow: auto;
//   background-color: #ffffff;
//   border-radius: $btn-radius;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   width: 100%;

//   & a {
//     color: $blue-link;
//     font-size: 15px;
//   }
// }