@import "./constants";
@import "./containers";
@import "./position";

#redirect-form {
  display: none;
}

#home-img {
  width: 45%;
  height: 600px;
}

.hid {
  display: none;
}

.myte {
  &-header {
    @extend .c;
    margin-top: 30px;

    & img {
      width: 100px;
      height: auto;
    }

    & h2 {
      margin-top: 20px;
      margin-bottom: 20px;
      color: #c57e63;
    }

    & h2.brown {
      color: #35241b;
    }
  }
}

.link {
  color: $blue-link;
  font-size: 15px;
}

img.in-btn {
  width: 20px;
  height: auto;
  margin-right: -30px;
  z-index: 5;

  &:hover {
    cursor: pointer;
  }
}

.drop-menu {
  width: 250px;
  font-size: 15px;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  box-sizing: border-box;
  margin: 0;

  border: 1px solid #aaa;
  border-radius: $btn-radius;

  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;

  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;

  background-position: right 10px top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 10px auto, 100%;
  appearance: none;

  &:hover {
    border-color: #888;
  }

  &:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 1px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 1px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
}

.stage {
  height: 15px;
  width: 15px;
  margin: auto 15px;
  background-color: #aaa9a9;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;

  &.active {
    opacity: 1;
  }

  &.finish {
    opacity: 1;
    background-color: rgb(172, 243, 71);
  }
}

.hamburger {
  @extend .c;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 20px;

  & div {
    background-color: $white;
    width: $hamburger-btn-width;
    height: 4px;
    margin-bottom: 3px;
  }

  &:hover {
    background-color: $gray-dark--hover;
    cursor: pointer;
  }
}

.icon-holder {
  @extend .c;
  flex-direction: row;
  background-color: $myte-blue;
  border-radius: $btn-radius 0 0 $btn-radius;
  margin: 0;
  width: 52px;
  height: 42px;
  max-height: 100%;

  align-items: flex-start;
  justify-self: flex-start;

  & img {
    margin: 0;
    align-self: center;
    justify-self: center;
    z-index: 2;
    width: 17px;
    height: auto;
  }
}

.logo {
  @extend .c;
  margin: 0;
  align-items: flex-start;
  width: 24%;
  height: 100%;

  & img {
    width: 70px;
    height: 70px;
  }

  &:hover {
    cursor: pointer;
  }
}

.datepicker {
  background-color: #ffffff;
  border-radius: $btn-radius;
  border: 1px solid #a2a2a2;
  height: 30px;
  align-items: center;
  width: 70%;
}

.home-def {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-info {
  display: flex;
  flex-direction: row;
  padding-left: 10px;

  & div.version {
    margin-top: 2px;
    height: 100%;
    width: 40%;

    & h2 {
      margin-bottom: 5px;
      font-size: 30px;
      color: $gray-dark;
    }

    & h3 {
      margin-top: 5px;
      font-size: 16px;
      color: $gray-dark;
    }
  }
}

.overlay {
  z-index: 9;

  opacity: 0;
  background-color: rgb(97, 97, 97);
  width: 100%;
  height: 100%;
  transition: 200ms ease-in;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  pointer-events: none;

  &.active {
    overflow: hidden;
    opacity: 0.7;
    pointer-events: all;
    transition: 200ms ease-out;
  }
}

.render-box {
  @extend .c;
  justify-content: flex-start;
  margin-right: 100px;
  padding: 0;

  width: 500px;
  height: 450px;
  min-width: 400px;

  & div.header {
    @extend .c;
    justify-content: flex-start;

    height: 12%;
    width: auto;
    margin: 0;

    & p {
      color: #999;
      margin: 0;

      font-weight: 400;
      font-size: 30px;
      height: 35px;
    }

    & p.orange {
      color: $myte-blue;
    }

    & hr {
      max-width: 500px;
      width: 110%;
      height: 1px;
      border: none;

      background-color: #111;
      margin: 0;
      margin-top: 5px;
    }
  }

  & div.content {
    @extend .c;
    width: 100%;
    height: 88%;
    background-color: whitesmoke;
    overflow-x: scroll;

    & p,
    p.empty {
      font-size: 1.5vw;
    }

    & p.empty {
      color: rgb(191, 191, 191);
      font-size: 30px;
      font-weight: 400;
    }

    &:hover {
      box-shadow: 0 2px 3px 0 #c0c0c0, 0 3px 3px 0 #c0bfbf;
    }
  }

  &.small {
    @extend .render-box;
    width: 400px;
    height: 300px;

    & div.content {
      @extend .c;
      width: 100%;
      height: 90%;
      background-color: whitesmoke;

      & p {
        font-size: 1.2vw;
      }

      & p.empty {
        color: rgb(191, 191, 191);
        font-size: 20px;
        font-weight: 400;
      }

      &:hover {
        box-shadow: 0 2px 3px 0 #c0c0c0, 0 3px 3px 0 #c0bfbf;
      }
    }
  }
}

.preview {
  @extend .c;
  width: 80%;

  &-files {
    @extend .preview;
    height: auto;
    flex-direction: row;
    padding: 0;

    flex-wrap: wrap;
    margin-bottom: 30px;

    & div.file {
      @extend .c;

      width: 30%;
      height: 30%;

      & div.header {
        @extend .c;
        margin: 0;
        padding: 0;

        width: 100%;
        height: auto;
        max-height: 20%;

        & p {
          font-size: 15px;
          color: rgb(23, 23, 44);
          font-weight: 600;
        }
      }

      & img {
        border-radius: $btn-radius;
        width: 80%;
        transition: all 0.2ms linear;
        height: auto;
        max-height: 80%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-box {
    @extend .preview;

    width: 80%;
    height: 80%;
    min-width: 200px;

    justify-content: flex-start;

    & div.header {
      @extend .c;
      height: 10%;
      width: 100%;
      margin-top: 30px;

      & h3 {
        color: $myte-orange;
        font-size: 20px;
      }
    }

    & div.content {
      @extend .c;
      width: 100%;
      height: 50%;
      background-color: $gray;
      overflow-x: auto;

      & p {
        font-size: 1vw;
      }

      &:hover {
        box-shadow: 0 2px 3px 0 #727171, 0 3px 3px 0 #616060;
      }
    }
  }
}

.script-box {
  @extend .c;
  flex-direction: row;

  align-items: flex-start;
  justify-content: flex-start;

  padding: auto 5%;

  width: 430px;
  max-width: 100%;
  height: auto;

  background-color: $bg-color;

  & p {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(78, 78, 97);
    font-size: 18px;
  }
}

.input-vars {
  @extend .c;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;

  margin: 0;
  margin-right: auto;

  width: 100%;
  min-width: 100%;

  & p {
    font-size: 15px;
  }
}

.input-latex {
  width: 350px;
  min-width: 300px;
  max-width: 400px;

  height: 150px;
  min-height: 120px;
  max-height: 170px;
}

.input-script {
  width: 400px;
  max-width: 470px;
  min-width: 350px;

  height: 100px;
  max-height: 150px;
  min-height: 50px;

  padding: 5px;

  border-radius: 2px;

  &:focus {
    outline: none;
  }
}

.edit-latex {
  width: 300px;
  min-width: 200px;
  max-width: 400px;

  height: 150px;
  min-height: 100px;
  max-height: 180px;
}

.float-return {
  @extend .center-h;
  @extend .c;

  flex-direction: row;

  width: 250px;
  height: 45px;
  bottom: 50px;
  margin: 0;
  position: absolute;
  left: 50%;

  & img {
    width: 20px;
    height: auto;
    margin-right: -30px;
    z-index: 5;

    &:hover {
      cursor: pointer;
    }
  }
}

.edit-script {
  width: 420px;
  height: 100px;
  min-width: 400px;
  min-height: 80px;
  max-height: 120px;
  max-width: 450px;
}

.option {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  background-color: $gray--hover;
  text-decoration: none;
  color: $bg-color;
  width: auto;
  height: 30px;
  font-size: 25px;
  border-radius: $btn-radius;

  &.gray {
    @extend .option;
    background-color: #464646;

    &:hover {
      background-color: #383838;
    }
  }

  &.yellow {
    @extend .option;
    background-color: rgb(218, 184, 51);

    &:hover {
      background-color: rgb(158, 124, 38);
    }
  }

  &.skin {
    @extend .option;
    background-color: rgb(120, 78, 179);

    &:hover {
      background-color: rgb(96, 63, 143);
    }
  }

  &.green {
    @extend .option;
    background-color: rgb(83, 150, 67);

    &:hover {
      background-color: rgb(59, 105, 47);
    }
  }

  &.blue {
    @extend .option;
    background-color: #383e56;

    &:hover {
      background-color: #2b2f42;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}