// on resize
@media screen and (max-width: 1450px) {
  .logo {
    width: 15%;
  }

  .c-hamburger {
    width: 15%;
  }

  .c-home {
    max-width: 85%;
  }

  #home-img {
    width: 45%;
    min-width: 45%;
  }
}

@media screen and (max-width: 1200px) {
  .c-home {
    min-width: 80%;
    width: 80%;
  }
  #welcome-options {
    width: 45%;
    min-width: 45%;
  }
}

// half screen (1920x1080)
@media screen and (max-width: 960px) {
  .c-hamburger {
    width: 10%;
  }
  .c-home {
    min-width: 95%;
    max-width: 95%;
    width: 95%;
  }
  .text-holder {
    width: 45%;
  }
  .image-holder {
    width: 45%;
  }
  .logo {
    width: 10%;
    margin-left: 50px;
  }
  #welcome-options {
    width: 50%;
    min-width: 50%;
  }

  #home-img {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  #home-container {
    flex-direction: column;

    margin: 6% 0 auto;

    min-height: none;
    height: auto;

    max-width: 100%;
    width: 100%;
    min-width: 100%;

    display: flex;

    justify-content: center;
  }

  #welcome-options {
    min-width: 80%;
    width: 80%;
    max-width: 80%;
  }
  #hamburger-container {
    width: 80px;
    min-width: 80px;
  }
  #item-logo {
    display: none;
  }

  #home-img {
    width: 80%;
    min-width: 80%;
  }

  .text-holder {
    margin-bottom: 5%;
    width: 95%;
    min-width: 95%;
  }
}

@media screen and (max-width: 580px) {
  #welcome-options {
    display: none;
  }

  #hamburger {
    margin: 0;
  }

  #hamburger-container {
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  #nav {
    justify-content: center;
    align-items: center;
  }
}
