@import "./constants";

input.invalid,
textarea.invalid {
  background-color: #ffdddd;
}

// bars
.sidebar {
  border-radius: 0 $btn-radius $btn-radius 0;

  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  top: 0;
  left: 0;
  position: absolute;
  width: 300px;
  height: 1000px;
  background-color: $gray;
  z-index: 10;
  display: none;

  & hr {
    border: none;
    align-self: center;
    margin-left: -10px;
    margin-top: 2px;
    width: 98%;
    height: 1px;
  }

  & div.info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    & h2 {
      margin-bottom: 5px;
      font-size: 30px;
      color: $white;
    }

    & h3 {
      margin-top: 5px;
      font-size: 16px;
      color: $white;
    }

    & div {
      align-self: center;
      margin-left: -10px;
      margin-top: 2px;
      width: 98%;
      height: 1px;
      background-color: #a5a5a5;
    }
  }

  &.home {
    @extend .sidebar;
    width: 400px;
    background-color: $myte-orange;

    & div.item {
      margin: 0;
      border-bottom: 1px solid #e89875;
      height: 60px;
      border-radius: 0 $btn-radius $btn-radius 0;

      background-color: transparent;

      &:hover {
        background-color: $blue-dark;
        cursor: pointer;
      }

    }
  }

  & div.item {
    @extend .c;

    flex-direction: row !important;
    justify-content: flex-start !important;

    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;

    border-radius: 3px;

    & a {
      margin-top: 4px;
      margin-left: 10px;
      font-size: 20px;
      color: #f3f3f3;
      text-decoration: none;
    }

    & img {
      padding-left: 10px;
      width: 20px;
      height: auto;
    }

    &:hover {
      background-color: $gray--hover;
      cursor: pointer;
    }
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  left: 0;
  right: 0;
  top: 0;
  width: 100%;

  height: 100px;
  min-height: 100px;
  max-height: 100px;

  border-radius: 0px 0px 3px 3px;
  background-color: $nav-bar-color;

  overflow-x: hidden;
  z-index: 8;

  &.home {
    @extend .navbar;
    background-color: $blue-dark_b;
  }

  & div.item {
    @extend .c;

    flex-direction: row !important;
    height: 60px;
    width: 30%;
    margin-right: 10px;

    justify-content: flex-start !important;
  }
}

// element class
.input {
  font-family: $font-home;
  z-index: 1;
  text-indent: 10px;
  width: 100%;
  padding: 0;
  height: 40px;
  border: 1px solid #a2a2a2;
  border-radius: 0 $btn-radius $btn-radius 0;

  &.small {
    @extend .input;
    width: 40%;
    margin: 0;
  }

  &-formula {
    display: flex;
    flex-direction: column;

    p {
      color: rgb(23, 23, 44);
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    & div.receiver {
      @extend .c;
      flex-direction: row !important;
      width: auto;
      height: auto;
      padding: 0;

      & img {
        width: 20px;
        height: auto;
        margin-right: -30px;
        z-index: 5;

        &:hover {
          cursor: pointer;
        }
      }

      & button.upload {
        border-radius: $btn-radius;
        background-color: rgb(238, 80, 80);

        padding: 6px 12px;
        border: none;

        font-weight: 500;
        font-size: 20px;
        color: rgb(227, 240, 248);

        transition: all 0.1s cubic-bezier(1, 0, 0, 1);

        width: 250px;

        &:hover,
        :focus {
          background-color: rgb(216, 70, 70);
          outline: none;
          box-shadow: rgb(175, 175, 175) 0px 0px 0px 1px;
          cursor: pointer;
        }
      }
    }

    & label {
      justify-content: flex-start;
      margin-right: auto;
      font-size: 20px;
      color: rgb(29, 29, 29);
      font-weight: 500;
    }
  }

  &__login {
    @extend .input;
    background-color: rgba(79, 82, 90, 0.5);
    color: #fff;
  }

  &:focus {
    box-shadow: #7bd3ee 0px 0px 0px 1px;
    outline: none;
  }
}

.form {
  @extend .c;
  height: auto;
  width: 80%;
}

// buttons
.btn {
  border: none;
  border-radius: $btn-radius;

  &:hover {
    background-color: $myte-blue_b--hover;
  }

  &-submit {
    @extend .c;
    @extend .btn;

    text-decoration: none;
    background-color: $myte-blue_b;
    margin-right: 0;
    width: 40%;
    height: 40px;
    font-size: 25px;
    color: #f2f2f2;

    &.yellow {
      @extend .btn-submit;
      background-color: #ffb347;

      &:hover {
        background-color: #e9a342;
      }
    }

    &.orange {
      @extend .btn-submit;
      background-color: $myte-orange;

      &:hover {
        background-color: rgb(202, 120, 87);
      }
    }

    &.green {
      @extend .btn-submit;
      background-color: rgb(46, 136, 71);

      &:hover {
        background-color: rgb(32, 92, 49);
      }
    }

    &.blue {
      @extend .btn-submit;
      background-color: $myte-blue_b;

      &:hover {
        background-color: $myte-blue_b--hover;
      }
    }

    &.purple {
      @extend .btn-submit;
      background-color: rgb(132, 84, 230);

      &:hover {
        background-color: rgb(118, 75, 204);
      }
    }

    &.gold {
      @extend .btn-submit;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(110, 80, 20, 0.4),
        inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
      background-image: linear-gradient(160deg,
          #a54e07,
          #b47e11,
          #fef1a2,
          #bc881b,
          #a54e07);
      color: rgb(120, 50, 5);
      text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
      transition: all 0.2s ease-in-out;
      background-size: 100% 100%;
      background-position: center;
      border: 1px solid #a55d07;

      &:hover,
      &:focus {
        background-size: 150% 150%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23), inset 0 -2px 5px 1px #b17d10,
          inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
        border: 1px solid rgba(165, 93, 7, 0.6);
        color: rgba(120, 50, 5, 0.8);
      }
    }
  }

  &-link {
    @extend .c;
    color: $nav-bar-items-color;
    width: 33%;
    height: 100%;
    font-size: 25px;
    text-decoration: none;

    &:hover {
      background-color: $myte-orange_b;
    }
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: gray;
    pointer-events: none;
  }
}

.edit {
  &-formula {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 80%;

    & textarea {
      border-radius: $btn-radius;
    }

    & p {
      color: rgb(23, 23, 44);
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}

.text-holder {
  @extend .c;
  margin-left: 10px;
  width: 40%;
  height: 100%;

  & h1 {
    font-size: 60px;
    color: rgb(1, 1, 1);
    text-align: start;
  }

  & p {
    font-weight: 300;
    font-size: 18px;
    color: rgb(1, 1, 1);
    text-align: justify;
    font-family: Tahoma, sans-serif;
  }
}

.flash {
  &-box {
    @extend .c;

    display: none;

    height: 100%;
    width: 100%;
    justify-content: space-between !important;
    flex-direction: row !important;

    & span {
      font-size: 30px;
      color: rgb(106, 104, 104);
      margin-right: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    & p {
      margin: 0;
      top: 50%;
      margin-left: 10px;
      font-size: 20px;
    }

    &--success {
      @extend .flash-box;
      background-color: #9eff95;

      & p {
        color: #72bb6c;
      }
    }

    &--error {
      @extend .flash-box;
      background-color: #fa9999;

      & p {
        color: #a04949;
      }
    }

    &--info {
      @extend .flash-box;
      background-color: #accdff;

      & p {
        color: #8099be;
      }
    }

    &--warning {
      @extend .flash-box;
      background-color: #fdc693;

      & p {
        color: #c78d57;
      }
    }
  }
}

.expand-bar {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  border-radius: 50%;

  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 8%;
  left: 6%;

  z-index: 5;

  border: solid 1px rgb(211, 211, 211);

  background-color: #fff;

  & a {
    @extend .c;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-decoration: none;

    & img {
      z-index: 1;
      width: 25px;
      height: 25px;
    }
  }

  &:hover {
    box-shadow: 0 2px 4px 0 #c7c6c6, 0 3px 10px 0 #a7a6a6;
    cursor: pointer;
  }
}

.modal {
  &-formula {
    z-index: 10;
    display: none;
    width: 800px;
    height: 700px;

    padding: 0;

    top: 50%;
    left: 50%;
    transition: 200ms ease-in-out;

    position: absolute;

    justify-content: center;

    &.active {
      display: flex;
      flex-direction: column;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &-image {
    @extend .modal-formula;
    z-index: 10;
    border: $btn-radius;

    & img {
      z-index: 10;
      border: $btn-radius;
    }
  }
}


.header {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;

  &--underlined {
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 100%;

    & h1 {
      font-size: 35px;
      color: $myte-orange_b;
      margin-top: 20px;
      margin-bottom: 2px;
    }

    & div {
      margin-top: 0;
      width: 80%;
      height: 1px horizontal bar width;
      background-color: $myte-blue_b;
    }
  }
}