// colors, common widths and more
@import "./constants";

// Containers
@import "./containers";

// responsive resize
@import "./resize";

// styles
@import "./rules";

// icon, hamburger, datepicker, overlay and more
@import "./other";

@import "./position";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: $font-default;
}

.meta {
  @extend .c;
  justify-content: flex-start;
  align-items: normal;
}

.welcome {
  @extend .meta;
  background-color: $bg-color;
  overflow-y: auto;
}

.home {
  @extend .meta;
  overflow-x: hidden;
  background-color: $myte-skin--light;
}

.login {
  background-color: $gray-dark;
}

.reg {
  @extend .c;
  justify-content: flex-start;
  padding-top: 50px;
  overflow-y: hidden;
  background-color: $myte-skin;
}

.add-formula {
  @extend .c;
  overflow-y: hidden;
  background-color: #f0d192;
}

.add-image {
  @extend .add-formula;
  background-color: $myte-skin;
}

.add-script {
  @extend .add-formula;
  background-color: #f2c894;
}

.edit {
  @extend .reg;
  padding: 0;

  width: 100%;

  background-color: rgb(206, 220, 240);
}

.images {
  @extend .add-formula;
  background-color: $bg-color;
}

.scripts {
  @extend .add-formula;
  background-color: $myte-skin;
}

.upgrade {
  @extend .reg;
  padding: 0;
  justify-content: center;
}