// fonts
$font-default: Gadget, sans-serif;
$font-home: "Segoe UI", Georgia, Serif;

// colors
$white: #d8d7d7;
$gray: #353535;
$success: #9eff95;
$gray-dark: #212121;
$blue-dark: #212535;
$blue-dark_b: #1a1c23;
$blue-link: #67a5a7;

$myte-blue: #383e56;
$myte-blue_b: #48506e;
$myte-orange: rgb(246, 158, 123);
$myte-orange_b: #c57e63;
$myte-skin: #eedad1;
$myte-skin--light: #eee4df;
$default-indent: 10%;

$btn-blue: #3981c4;
$btn-green: #7dde2e;
$btn-radius: 5px;

$bg-color: $white;

$nav-bar-color: $gray-dark;
$nav-bar-items-color: #d8d7d7;

// hover colors
$myte-blue_b--hover: #727faa;
$myte-orange_b--hover: #a86d55;
$gray--hover: #464646;
$gray-dark--hover: #353535;
$btn-green--hover: #66b624;
$btn-blue--hover: #3576b3;

// meta attrs
$home-margin-content: 30%;
$hamburger-btn-width: 25px;
