@import "./constants";

.app-info {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  & div {
    margin-top: 2px;
    height: 100%;
    & h2 {
      margin-bottom: 5px;
      font-size: 30px;
      color: $gray-dark;
    }
    & h3 {
      margin-top: 5px;
      font-size: 16px;
      color: $gray-dark;
    }
  }
}

.show-user {
  display: flex;
  max-height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  & p {
    margin: 0;
    top: 50%;
    font-size: 25px;
    color: rgb(23, 23, 44);
  }
}

.formula-header {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  left: 0;

  border-radius: $btn-radius $btn-radius 0px 0px;

  width: 100%;
  height: 20%;
  background-color: $gray-dark;
  align-items: center;
  justify-content: center;

  & h2 {
    font-size: 20px;
    text-align: center;
    color: $bg-color;
  }
}

.formula-content {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-content: center;
  & p {
    text-align: center;
    align-self: center;
  }
}

.render-box {
  position: absolute;
  display: flex;
  flex-direction: column;

  right: 20%;
  top: 230px;

  float: left;
  width: 400px;
  height: 300px;
  min-width: 400px;

  justify-content: center;
  align-items: center;

  &--header {
    height: 20%;
    width: 100%;
    & h3 {
      text-align: center;
      color: $bg-color;
      font-size: 20px;
    }
  }
  &--content {
    border-radius: $btn-radius;
    width: 100%;
    height: 80%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
      font-size: 2vw;
    }
    &:hover {
      box-shadow: 0 2px 3px 0 #c0c0c0, 0 3px 3px 0 #c0bfbf;
    }
  }
}

.input-formula {
  display: flex;
  flex-direction: column;
  p {
    color: rgb(23, 23, 44);
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.input-latex {
  width: 300px;
  height: 200px;
  min-widht: 200px;
  min-height: 150px;
  max-height: 300px;
  max-width: 400px;
}

.option {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  background-color: $gray--hover;
  text-decoration: none;
  color: $bg-color;
  width: auto;
  height: 30px;
  font-size: 25px;
  border-radius: $btn-radius;
  &:hover {
    cursor: pointer;
  }
}

.option--gray {
  @extend .option;
  background-color: #464646;
  &:hover {
    background-color: #383838;
  }
}

.option--yellow {
  @extend .option;
  background-color: rgb(228, 238, 40);
  &:hover {
    background-color: rgb(184, 192, 33);
  }
}

.option--skin {
  @extend .option;
  background-color: $myte-skin;
  &:hover {
    background-color: #d1bfb7;
  }
}

.option--green {
  @extend .option;
  background-color: rgb(83, 150, 67);
  &:hover {
    background-color: rgb(59, 105, 47);
  }
}

.option--blue {
  @extend .option;
  background-color: #383e56;
  &:hover {
    background-color: #2b2f42;
  }
}

.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}
