@import "./constants";

.show-user {
  max-height: 100%;
  align-content: center;
  & p {
    text-align: center;
    margin: auto;
    font-size: 25px;
    font-family: Apple Chancery, cursive;
    color: rgb(133, 199, 127);
  }
}

.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}
