<!DOCTYPE html>

<head>
    <title>{{ title }}</title>
</head>

<body class="bad-request">
    <h1>Oops, The requested page was not found: {{ title }}</h1>
    <p style="font-size: 20px; margin-bottom: 10px;">{{ description }}
    {% if user %}
        <p><a href="{% url 'main:home' %}">Go back home page</a>
    {% else %}
        <p><a href="{% url 'main:index' %}">Go back welcome page</a>
    {% endif %}
    <h2>Traceback</h2>
    {% if trace %}
    {% for line in trace.splitlines %}
    <p>{{ line }}</p>
    {% endfor %}
    {% else %}
    <p>Traceback is not available</p>
    {% endif %}

</body>