{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/styles.scss' %}" media="screen" />
    {% endcompress %}

    <title>{% block title %} Myte {% endblock %}</title>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- MathJax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        MathJax = {
            text: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        }
    </script>
</head>

<body {% block background %}id="body-welcome" {% endblock %}>
    <!-- flash messages -->
    {% if messages %}
    <div class="container-flash">
    {% for message in messages %}
        <div class="flash-box">
            <p>{{ message }}</p>
            <span class="dismissible">&times;</span>
        </div>
    {% endfor %}
    </div>
    {% endif %}

    {% block body %}
    {% block side_bar %}
    <div class="side-bar">
        <div class="side-bar--info">
            <h2>Myte</h2>
            <h3>vBeta</h3>
            <div></div>
        </div>
        <div class="side-bar--item">
            <img src="{% static 'images/theme.png' %}">
            <a href="#" style="margin-left: 20px;"><strong>Theme</strong></a>
        </div>
        <div class="side-bar--item">
            <img src="{% static 'images/premium.png' %}">
            <a href="#" style="margin-left: 20px;"><strong>Premium</strong></a>
        </div>
        <div class="side-bar--item">
            <img src="{% static 'images/git.png' %}">
            <a href="https://github.com/VashLT/Myte" title="Myte source code" style="margin-left: 20px;"
                target="_blank"><strong>Repositorio</strong></a>
        </div>
    </div>
    {% endblock %}
    {% block nav %}
    <nav class="nav-bar">
        <div class="container-hamburger">
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" title="Myte">
        </div>
        <div class="nav-bar--item" style="margin-left: auto; margin-right: 10px;">
            <a href="{% url 'mauth:login' %}" id="login" class="btn-link">Ingresar</a>
            <a href="#" class="btn-link">Acerca de</a>
            <a href="#" class="btn-link">Otros</a>
        </div>
    </nav>
    {% endblock %}
    <div name="base" class="container-base">
        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}

    <script type=text/javascript src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

</body>

</html>