{% load static %}
{% load compress %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg+xml" href="{% static 'images/logo.svg' %}" sizes="64x64">

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/styles.scss' %}" media="screen" />
    {% endcompress %}

    <title>{% block title %}Myte{% endblock %}</title>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    {% block media %}
    {% endblock %}

    <!-- MathJax -->
    <script src="{% static 'js/mathjax.js'%}" async></script>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

</head>

<body {% block main %}class="welcome" {% endblock %}>
    <div class="wrapper">
    {% if messages %}
    <!-- flash messages -->
    <div class="c-flash">
        {% for message in messages %}
        <div class="{{ message.level|level2class }}">
            <p>{{ message }}</p>
            <span class="dismissible">&times;</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block body %}

    {% block sidebar %}
    {% endblock %}

    {% block nav %}
    {% endblock %}
    
    <div class="c-base">
        {% block content %}
        {% endblock %}
    </div>

    {% block popups %}

    {% endblock %}

    {% endblock %}

    </div>

    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

    {% block scripts %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

</body>

</html>