{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Home{% endblock %}

{% block background %}id="body-home"{% endblock %}

{% block body %}
<div class="overlay"></div>

{% block nav %}
<nav class="nav-bar--home">
    <div class="nav-bar--item left" style="width: 5%; margin-left: 10px; ">
        <img src="{% static 'images/logo.png' %}" title="Myte" style="width: 70px; height: 70px;">
    </div>
    <div class="nav-bar--item" style="width: 50%; margin-left: 10px; justify-content: flex-start;">

    </div>
    <div class="nav-bar--item right" style="width: 40%;">
        <a href="#" class="btn-link">Detalles</a>
        <a href="{% url 'main:index' %}" class="btn-link">Mejorar</a>
        <a href="{% url 'mauth:logout' %}" id="logout" class="btn-link">Salir</a>
    </div>
</nav>
{% endblock %}

{% block side_bar %}
<div class="side-bar--home">
    <div class="app-info">
        <div style="width: 40%;">
            <h2>Myte</h2>
            <h3>vBeta</h3>
        </div>
        <div class="show-user" style="width: 60%;">
            <p style="margin-top: 10px;">$$\text{ {{ user.get_username }} }$$</p>
        </div>
    </div>
    <div class="horizontal-bar" style="background-color: #6b4637;"></div>
    <div class="item-home">
        <img src="{% static 'images/add_2.png' %}">
        <a href="{% url 'formulas:index' %}" style="margin-left: 20px;"><strong>Agregar formula</strong></a>
    </div>
    <div class="item-home">
        <img src="{% static 'images/delete_gray.png' %}">
        <a href="#" style="margin-left: 20px;"><strong>Eliminar formula</strong></a>
    </div>
    <div class="item-home">
        <img src="{% static 'images/list_formulas.png' %}">
        <a href="{% url 'formulas:index' %}" title="Myte source code" style="margin-left: 20px;"
            target="_blank"><strong>Mis formulas</strong></a>
    </div>
</div>
{% endblock %}

<div class="expand-bar" id="ctrl-side-bar">
    <img src="{% static 'images/arrow.png' %}" style="width: 17px; height: 29px;">
</div>
<div class="expand-bar" id="add-formula" style="left: auto; right: 6%;">
    <a href="{% url 'formulas:index' %}" target="_blank">
        <img src="{% static 'images/add.png' %}">
    </a>
</div>
{% endblock %}