{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load filters %}
{% block title %}Obtener premium{% endblock %}

{% block main %}class="upgrade"{% endblock %}

{% block body %}
<div class="c-premium">
    <form method="POST" class="form" id="premium-form" action="">
        {% csrf_token %}
        <div class="myte-header">
            <img src="{% static 'images/logo.png' %}" title="Myte">
            <h2 style="color:#212121;">Obtener Myte premium®™</h2>
        </div>
        <div class="c-select" style="margin-top: 40px;">
            <p>Metodo de pago: </p>
            {{ form.pay_method|add_class:"drop-menu"|attr:"style:width:200px;"|default_option:""}}
        </div>
        <div class="c-input" style="width: 30%; margin: 30px auto 20px;">
            <button class="btn-submit gold" id="up-btn" style="width: 100%;">Premium</button>
        </div>
        <div class="c-input many" style="margin-top:30px; justify-content:space-between;">
            <div class="c-input" style="width: 30%; margin-left: 60px;">
                <a class="btn-submit orange" href = "{% url 'main:home' %}" style="width: 100%;">Regresar</a>
            </div>
            <div class="c-input" style="width: 30%; margin-right: 60px;">
                <button class="btn-submit blue" id="next-btn" style="width: 100%;">Siguiente</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}