{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% load widget_tweaks %}

{% block title %}Creación de formula{% endblock %}

{% block main %}class="add-formula"{% endblock %}

{% block body %}
<div class="c-stages">
    {% if stage == 1 %}
        <span class="stage active" value="1"></span>
        <span class="stage" value="2"></span>
    {% else %}
        <span class="stage finish" value="1"></span>
        <span class="stage active" value="2"></span>
    {% endif %}
</div>

<div class="c-add">
    <div class="render-box">
        <div class="header">
        {% if formula.nombre %}
            <p id="formula-state-header" style="color: #7c795d;">$\text{ {{ formula.nombre }} }$</p>
        {% else %}
            <p id="formula-state-header" style="color: #7c795d;"></p>
        {% endif %}
        </div>
        <div class="content">
            {% if formula %}
                <p>$$ {{ formula.latex }} $$</p>
            {% else %}
                <p class="empty">$$\text{No se ha renderizado}$$</p>
            {% endif %}
        </div>
    </div>
    <div class="c-form">
        <form method="POST" class="form" id="add-form" action="">
            {% csrf_token %}
            <div class="myte-header">
                <img src="{% static 'images/logo.png' %}" title="Myte">
                <h2 style="margin-top: 20px; color:#35241b;">Creación de formula</h2>
            </div>
            {% if stage == 1 %}
            {{ form.non_field_errors }}
            <div class="input-formula">
                <p>Escribe el codigo en LaTeX:</p>
                <textarea 
                    class="input-latex" 
                    name="codigo_latex" 
                    cols="50"
                    rows="10"
                    placeholder="Codigo en LaTeX ...    " 
                    id="id_codigo_latex"
                    style="margin-bottom: 20px;"
                    required>{% if formula %}{{ formula.latex }}{% endif %}</textarea>
            </div>
            <div class="c-input" style="width: 45%;">
                <img 
                    class="in-btn"
                    src="{% static 'images/render.png' %}"
                    alt="Renderizar a LaTeX"
                    onclick = "document.getElementById('render-btn').click()"
                    />
                <button class="btn-submit green icon" id="render-btn" name="render">Renderizar</button>
            </div>
            {% else %}
            <div class="c-input" style="flex-direction: column;">
                <p>Ingresa el nombre de la formula</p>
                {% render_field form.nombre class="input" placeholder="Titulo de la formula" autocomplete="off" %}
                
            </div>
            {% endif %}
        </form>
        <div class="c-input many" style="margin-top:30px; justify-content: space-evenly;">
            <div class="c-input" style="width: 30%;">
                <img 
                    class="in-btn"
                    src="{% static 'images/return.png' %}"
                    alt="Continuar" 
                    onclick="document.getElementById('previous-btn').click()"/>
                <button class="btn-submit orange icon" id="previous-btn">Anterior</button>
            </div>
            <div class="c-input" id="submit-parent" style="width: 30%;">
                <img 
                    class="in-btn"
                    src="{% static 'images/continue.png' %}"
                    alt="Continuar" 
                    onclick="document.getElementById('next-btn').click()"/>
                <button class="btn-submit icon" id="next-btn" name="next"></button>
            </div>
        </div>
    </div>
    <div class="float-return">
        <img 
            class="in-btn"
            src="{% static 'images/home.svg' %}"
            alt="ir a la pagina principal" 
            onclick="document.getElementById('to-home').click()"/>
        <a class="btn-submit yellow" href="{% url 'main:home' %}" id="to-home" style="width: 70%;">Home</a>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'formulas_js/formulas.js' %}"></script>
{% endblock %}