{% extends 'base.html' %}
{% load static %}
{% block title %}Imagenes - {{ formula.nombre }}{% endblock %}

{% block main %}class="images"{% endblock %}

{% block body %}
<div class="wrapper">
    {% block nav %}
    <nav class="navbar home">
        <div class="item left" style="width: 5%; margin-left: 10px; ">
            <img src="{% static 'images/logo.png' %}" title="Myte" style="width: 70px; height: 70px;">
        </div>
        <div class="item" style="width: 50%; margin-left: 10px; justify-content: flex-start;">

        </div>
        <div class="item right" style="width: 40%;">
            <a href="#" class="btn-link">Detalles</a>
            <a href="{% url 'main:premium' %}" class="btn-link">Mejorar</a>
            <a href="{% url 'mauth:logout' %}" id="logout" class="btn-link">Salir</a>
        </div>
    </nav>
    {% endblock %}
    <main class="c row full spaced">
        <div class="c-formula-box" style="background-color: yellow;">
            <div class="render-box small" style="width:40%;">
                <div class="header">
                    <p id="f-header" style="color: #7c795d;" >$\text{ {{ formula.nombre }} }$</p>
                    <hr style="background-color: #d1b9ae;">
                </div>
                <div class="content">
                    <p>$$ {{ formula.codigo_latex }} $$</p>
                </div>
            </div>
        </div>
        <div class="c-images" style="background-color: blue">
            {% for image in images %}
            <div class="c-image" id="{{ forloop.counter }}">
                <div class="header" style="display: none;">
                    <h3>{{ image.name }}</h3>
                </div>
                <div class="content">
                    <img src="{{ image.url }}" style="background-color: white;"/>
                </div>
            </div>
            <div class="modal-image" id="im{{ forloop.counter }}">
                <img src="{{ image.url }}" />
            </div>
            {% endfor %}
            <div class="overlay"></div>
        </div>
        <div class="float-return">
                <img 
                    src="{% static 'images/home.svg' %}"
                    alt="ir a la pagina principal" 
                    onclick="document.getElementById('to-home').click()"/>
                <a class="btn-submit yellow" href="{% url 'main:home' %}" id="to-home" style="width: 70%;">Home</a>
        </div>
    </main>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'formulas_js/images.js' %}"></script>
{% endblock %}